<nav>
  <div class="nav-wrapper">
	  <div class="container">
	  	<a href="#" class="brand-logo">Tarea</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
		<% if !user_signed_in? %>
      <li>
			<%= link_to "Login", new_user_session_path %>
      </li>
      <li>
			<%= link_to "Sign Up", new_user_registration_path %>
      </li>
		<% end %>
      <li>
		<% if user_signed_in? %>
			<%= link_to "Logout", destroy_user_session_path, :method => :delete  %>
		<% end %>
      </li>
    </ul>
	  </div>
  </div>
</nav>


